<form class="container" (ngSubmit)="onUpdateUser(f)" #f="ngForm">
    <mat-form-field>
        <input matInput placeholder="ENTER PASSWORD" [(ngModel)]="user_password" name="user_password" #userpassword="ngModel" required>
        <label class="alert alert-danger" *ngIf="userpassword.hasError('required') && !userpassword.pristine">Passeord must be required</label>
      </mat-form-field>
      <br>
      <mat-form-field>
          <!-- <input matInput placeholder="ENTER USER TYPE" [(ngModel)]="user_type" name="user_type"> -->
          <mat-select [(ngModel)]="user_type" name="user_type" placeholder="ENTER USER TYPE">
              <mat-option value="admin">ADMIN</mat-option>
              <mat-option value="user">USER</mat-option>
              <mat-option value="deliveryboy">DELIVERY BOY</mat-option>

            </mat-select>
        </mat-form-field>
        <br>
        <button [disabled]="!f.valid" class="btn btn-primary" type="submit">update</button>
  </form>
