<form (ngSubmit)="onAddemp(f)" #f="ngForm">
    <mat-form-field>
        <input matInput placeholder="ENTER NAME" [(ngModel)]="emp_name" name="emp_name" #empname="ngModel" required>
        <label class="alert alert-danger" *ngIf="empname.hasError('required') && !empname.pristine">Name is required</label>
      </mat-form-field>
      <br>
      <mat-form-field >
          <input matInput  placeholder="ENTER MOBILE NO"  required pattern="[0-9]*" [(ngModel)]="mobile_no" name="mobile_no" #empmobno="ngModel" required>
          <label class="alert alert-danger" *ngIf="empmobno.hasError('pattern') && ! empmobno.pristine">only number</label>
        </mat-form-field>
        <br>
        <mat-form-field>
        <mat-label>ENTER USER DETAILS:</mat-label>
        <mat-select name="fk_user_email" [(ngModel)]="selected" >
          <mat-option *ngFor="let item of user_arr" [value]="item.user_email"  >
            {{item.user_email}}
          </mat-option>
        </mat-select>
      </mat-form-field>
        <!-- <mat-form-field>

            <mat-select [(ngModel)]="selected" name="selected" placeholder="ENTER USER TYPE">
                <mat-option *ngFor="let item of user_arr" [value]="item.user_email">
                    {{item.user_type}}
                  </mat-option>
              </mat-select>
          </mat-form-field> -->
          <br>
          <div class="form-group" >
            <button [disabled]="!f.valid" class="btn btn-primary" type="submit">ADD</button>
            </div>

  </form>
